<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Marine Nationale</h5>
        <blockquote class="grey-text text-lighten-4">DE LA TERRE À LA MER, TOUJOURS SERVIR ET DÉFENDRE.</blockquote>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Voir aussi</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.defense.gouv.ci/">Ministère de la Défense</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Etat-Major des Forces Armées de Côte d'Ivoire</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Marine Nationale
    </div>
  </div>
</footer>