<footer class="page-footer blue darken-1">
  <small>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="logo white-text">Marine Nationale</h5>
        <blockquote class="grey-text text-lighten-4 logo">De la terre à la mer, toujours servir et défendre.</blockquote>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Voir aussi</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.defense.gouv.ci/">Ministère de la Défense</a></li>
          <li><a class="grey-text text-lighten-3 " href="#">Etat-Major des FACI</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Marine Nationale
    </div>
  </div>
  </small>
</footer>