<div class="navbar-fixed">
  <nav class="blue darken-3">
    <div class="nav-wrapper container">
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <a href="/" class="logo">Marine Nationale</a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-activates="organisation_1"><i class="fa fa-sitemap"></i>
            Organisation</a></li>
        <li><a href="/missions"><i class="fa fa-anchor"></i> Missions</a></li>
        <li><a class="dropdown-trigger" href="#!" data-activates="equipements_1"><i class="fa fa-ship"></i> Equipements</a></li>
        <li><a class="dropdown-trigger" href="#!" data-activates="ressources_1"><i class="fa fa-users"></i> Ressources
            Humaines</a></li>
        <li><a class="dropdown-trigger" href="#!" data-activates="patrimoine_1"><i class="fa fa-building"></i> Patrimoine</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- SIDE MENU -->
<ul class="side-nav" id="main-menu">
  {{#if user}}
  <li>
    <div class="user-view">
      <div class="background">
        <img src="img/sea.png">
      </div>
      <a href="#user"><img class="circle" src="img/jdoe.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/users/edit"><i class="fa fa-info"></i> Mes Informations</a>
  </li>
  <li>
    <a href="#"><i class="fa fa-book"></i> Mes Diplômes et Stages</a>
  </li>
  <li><a href="#"><i class="fa fa-sign-out"></i> Me Déconnecter</a></li>
  <li class="divider"></li>
  {{else}}
  <form class="container section col s12 p6">
    <div class="card-panel orange darken-3 center">ESPACE MEMBRE</div>
    <hr>
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input id="mecano" type="number" class="validate">
      <label for="mecano">Mécano</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input id="password" type="password" class="validate">
      <label for="password">Mot de passe</label>
    </div>
    <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Me Connecter
      <i class="material-icons right">send</i>
    </button>
  </form>
  <li class="divider"></li>
  {{/if}}
  <li><a class="dropdown-trigger" href="#!" data-activates="organisation"><i class="fa fa-sitemap"></i> Organisation</a></li>
  <li><a href="/missions"><i class="fa fa-anchor"></i> Missions</a></li>
  <li><a class="dropdown-trigger" href="#!" data-activates="equipements"><i class="fa fa-ship"></i> Equipements</a></li>
  <li><a class="dropdown-trigger" href="#!" data-activates="ressources"><i class="fa fa-users"></i> Ressources Humaines</a></li>
  <li><a class="dropdown-trigger" href="#!" data-activates="patrimoine"><i class="fa fa-building"></i> Patrimoine</a></li>
</ul>

{{!-- Dropdown structure --}}
<ul id="equipements" class="dropdown-content">
  <li><a href="/equipements/patrouilleurs">Patrouilleurs</a></li>
  <li><a href="/equipements/embarcations">Embarcations</a></li>
</ul>
<ul id="organisation" class="dropdown-content">
  <li><a href="/organisation/commandement">Commandement</a></li>
  <li><a href="/organisation/unites">Unités</a></li>
  <li><a href="/organisation/soutien">Soutien des unités</a></li>
</ul>
<ul id="patrimoine" class="dropdown-content">
  <li><a href="/patrimoine/histoire">Histoire</a></li>
  <li><a href="/patrimoine/traditions">Traditions</a></li>
  <li><a href="/patrimoine/sport">Sport</a></li>
  <li><a href="/patrimoine/orchestre">Orchestre</a></li>
</ul>
<ul id="ressources" class="dropdown-content">
  <li><a href="/ressources_humaines/recrutement">Recrutement</a></li>
  <li><a href="/ressources_humaines/formation">Formations et Stages</a></li>
  <li><a href="/ressources_humaines/ecole">Ecole</a></li>
</ul>

<ul id="equipements_1" class="dropdown-content">
  <li><a href="/equipements/patrouilleurs">Patrouilleurs</a></li>
  <li><a href="/equipements/embarcations">Embarcations</a></li>
</ul>
<ul id="organisation_1" class="dropdown-content">
  <li><a href="/organisation/commandement">Commandement</a></li>
  <li><a href="/organisation/unites">Unités</a></li>
  <li><a href="/organisation/soutien">Soutien des unités</a></li>
</ul>
<ul id="patrimoine_1" class="dropdown-content">
  <li><a href="/patrimoine/histoire">Histoire</a></li>
  <li><a href="/patrimoine/traditions">Traditions</a></li>
  <li><a href="/patrimoine/sport">Sport</a></li>
  <li><a href="/patrimoine/orchestre">Orchestre</a></li>
</ul>
<ul id="ressources_1" class="dropdown-content">
  <li><a href="/ressources_humaines/recrutement">Recrutement</a></li>
  <li><a href="/ressources_humaines/formation">Formations et Stages</a></li>
  <li><a href="/ressources_humaines/ecole">Ecole</a></li>
</ul>