/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */

.logo{
  font-size: 25px;
}
.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.card{
  margin-right: 12px;
}
