body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: aliceblue;
}

main {
  flex: 1 0 auto;
}

.search-title-filter {
  background-color: #fff;
}

.input-field .dropdown-content [type="checkbox"] + label {
  top: -0.7em !important; /* previously 1px; */
}

.parallax-container {
  margin-bottom: 35px;
}

.galleria {
  margin-top: 20px;
  width: 1200px;
  height: 628px;
}

.bg-card-user {
  background: rgba(0, 77, 64, 0.5);
  padding: 15px 0 0 0;
  margin: 5px;
}

.info-card-img {
  height: 150px; /* Your height here */
  overflow: scroll;
}

.info-card-cont {
  width: auto;
  height: 150px; /* Your height here */
  overflow: scroll;
  text-align: justify;
}

.info-show {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 100;
}

.info-text {
  font-size: 1rem;
  font-weight: 500;
}

.actu {
  padding: 2px 10px;
  width: auto;
  height: 200px; /* Your height here */
  overflow: scroll;
  text-align: justify;
}

.actu-welcome-titre {
  font-weight: 500;
  font-family: "Pacifico", cursive;
  color: navy;
}

.actu-text {
  font-size: 1rem;
  font-weight: 500;
}

.halfway-fab {
  top: 15px;
}

.truncate > img {
  width: 120px;
}

.logo {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Roboto";
  vertical-align: middle;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Pacifico", cursive;
  text-align: left;
  vertical-align: middle;
}

.nosort {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Pacifico", cursive;
  text-align: left;
  vertical-align: middle;
}

.div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.loginForm {
  padding: 20px 10px;
  font-size: 1.2rem;
  font-weight: 100;
  color: orange;
  font-family: "Pacifico", sans-serif;
}

.titre {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.titre-menu {
  font-size: 1.1rem;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  padding: 20px 10px;
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
}

a {
  position: relative;
}
a:hover {
  color: navy;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  background-color: gold;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.side-nav .divider {
  padding: 0;
  margin: 0;
}

.side-nav li:hover > a {
  background-color: navy;
  color: gold;
  font-weight: bolder;
}

.nav-wrapper ul li:hover > a {
  background-color: navy;
  color: gold;
  font-weight: bolder;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

.lignes {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.lignes span {
  background: aliceblue;
  padding: 0 10px;
}

.welcome {
  font-family: "Parisienne", cursive;
  font-size: 40px;
}
.menu-txt {
  font-family: "Parisienne", cursive;
  font-size: 1.1rem;
  font-weight: 100;
}

.icon_menu {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.card {
  margin-right: 12px;
}

.icon_style {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.msg {
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  margin: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}

table > thead,
tbody > tr > th > td {
  vertical-align: top;
  border-top: 0;
}

table > thead > tr > th {
  font-size: 0.9rem;
  font-weight: 500;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table
  > caption
  + thead
  > colgroup
  + thead
  > thead:first-child
  > tr:first-child
  > th
  > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table-bordered > thead,
tbody > tr > th,
td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.9rem;
  font-weight: 300;
}

tfoot {
  display: table-header-group;
}

table > tfoot > tr > th {
  font-size: 0.9rem;
  font-weight: 300;
}

.modal-content {
  font-size: 0.9rem;
  font-weight: 300;
}

.placeholded label {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

.collapsible-body {
  background-color: aliceblue;
}
