<div class="parallax-container">
  <div class="container">
    <div class="row">
      <h1 class="col l8 welcome blue-text flow-text">
        <b>Bienvenue {{user.prenoms}},<br>
          sur le site officiel de la Marine nationale de la Côte d'Ivoire.</b>
        <hr>
      </h1>
    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img" src="https://res.cloudinary.com/nyf005/image/upload/v1537449933/public/pat3.jpg">
  </div>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
          <div class="col m4 s12">
            <img src="https://res.cloudinary.com/nyf005/image/upload/v1537449932/public/dk.jpg" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
            <h5 class="center-align black-text">C.A. Djakaridja KONATE</h5>
          </div>
          <div class="col m8 s12 flow-text">
            <h5 class="center-align">Mot de bienvenue du Chef d'Etat-major de la Marine
              <hr>
            </h5>
            <span class="black-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti alias praesentium illo eos suscipit.
              Praesentium, reprehenderit vitae eaque quaerat recusandae eum. Nam dolorum officiis reiciendis, accusamus
              perferendis cupiditate iste exercitationem!
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col xl4 l4 m12 12">
      <div class="card-panel center promo blue-grey darken-3 white-text">
        <i class="material-icons">info</i>
        <p class="promo-caption">Actualité</p>
        <p class="light center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corrupti possimus
          aliquam, autem commodi voluptatem reiciendis, laboriosam quas sit tempore porro enim, ab architecto. Magni
          ullam necessitatibus impedit eaque obcaecati.</p>
      </div>
    </div>
    <div class="col xl4 l4 m12 12">
      <div class="card-panel center promo blue-grey darken-3 white-text">
        <i class="material-icons">info</i>
        <p class="promo-caption">Actualité</p>
        <p class="light center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corrupti possimus
          aliquam, autem commodi voluptatem reiciendis, laboriosam quas sit tempore porro enim, ab architecto. Magni
          ullam necessitatibus impedit eaque obcaecati.</p>
      </div>
    </div>
    <div class="col xl4 l4 m12 12">
      <div class="card-panel center promo blue-grey darken-3 white-text">
        <i class="material-icons">info</i>
        <p class="promo-caption">Actualité</p>
        <p class="light center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corrupti possimus
          aliquam, autem commodi voluptatem reiciendis, laboriosam quas sit tempore porro enim, ab architecto. Magni
          ullam necessitatibus impedit eaque obcaecati.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row valign-wrapper">
    <!-- imagenes --> <br>
    <div class="col xl4 l4 m4 s12">
      <img class="materialboxed" data-caption="Fotografía" width="100%" src="https://res.cloudinary.com/nyf005/image/upload/v1537449933/public/pat3.jpg">
    </div>
    <div class="col xl4 l4 m4 s12">
      <img class="materialboxed" data-caption="Fotografía" width="100%" src="https://res.cloudinary.com/nyf005/image/upload/v1537449932/public/dk.jpg">
    </div>
    <div class="col xl4 l4 m4 s12">
      <img class="materialboxed" data-caption="Fotografía" width="100%" src="https://res.cloudinary.com/nyf005/image/upload/v1537449936/public/parallax-sea.jpg">
    </div>
    <div class="col xl4 l4 m4 s12">
      <img class="materialboxed" data-caption="Fotografía" width="100%" src="https://res.cloudinary.com/nyf005/image/upload/v1537449933/public/sea.png">
    </div>
    <!-- imagenes -->
  </div>
</div>