<div class="parallax-container center valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l4 m12 s12 valign-wrapper">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://res.cloudinary.com/nyf005/image/upload/v1537449932/public/dk.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">C.A. Djakaridja KONATE</span>
            <hr>
            <p>Chef d'Etat Major<br>de la Marine Nationale</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Mot de l'Amiral<i class="material-icons right">close</i></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit explicabo corrupti sequi sed animi
              consequuntur
              nostrum minima tempore at possimus, placeat omnis dignissimos libero dicta cumque quod ullam in illo!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax">
    <img class="responsive-img" src="https://res.cloudinary.com/nyf005/image/upload/v1537449936/public/parallax-sea.jpg">
  </div>
</div>
<div class="container justify-align">
  <div class="row">
    <div class="col s12 m4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis animi officiis, nulla tempora odio molestias
        quod, quas fugit libero culpa itaque. Iure numquam deserunt architecto quibusdam tempora accusamus soluta
        sequi.</p>
    </div>
    <div class="col s12 m4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis animi officiis, nulla tempora odio molestias
        quod, quas fugit libero culpa itaque. Iure numquam deserunt architecto quibusdam tempora accusamus soluta
        sequi.</p>
    </div>
    <div class="col s12 m4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis animi officiis, nulla tempora odio molestias
        quod, quas fugit libero culpa itaque. Iure numquam deserunt architecto quibusdam tempora accusamus soluta
        sequi.</p>
    </div>
  </div>
</div>
<div class="parallax-container center valign-wrapper">
  <div class="parallax">
    <img class="responsive-img" src="https://res.cloudinary.com/nyf005/image/upload/v1537449933/public/pat3.jpg">
  </div>

  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5></h5>
      </div>
    </div>
  </div>
</div>