<div class="row container">
  <div class="card-panel center-align">
    <img src="/img/icons8-plus-64.png" alt="Infos">
    <h5>Ajouter un marin</h5>
  </div>
  <hr>
  <form class="container section col s12 p6">
    <div class="input-field col m4 s12">
      <input id="mecano" type="number" class="validate">
      <label for="mecano">Mécano</label>
    </div>
    <div class="input-field col m4 s12">
      <input id="matricule" type="text" class="validate">
      <label for="matricule">Matricule</label>
    </div>
    <div class="input-field col m4 s12">
      <input id="grade" type="text" class="validate">
      <label for="grade">Grade</label>
    </div>
    <div class="input-field col m4 s12">
      <input id="nom" type="text" class="validate">
      <label for="nom">Nom</label>
    </div>
    <div class="input-field col m4 s12">
      <input id="prenoms" type="text" class="validate">
      <label for="prenoms">Prénoms</label>
    </div>
    <div class="input-field col m4 s12">
      <select>
        <option value="" disabled selected>Droits d'utilisateur</option>
        <option value="membre">Membre</option>
        <option value="editeur">Editeur</option>
        <option value="administrateur">Administrateur</option>
      </select>
      <label>Statut</label>
    </div>
    <div class="input-field col m2 offset-m10 s12">
      <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Valider
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>